.btn,
*[role="button"],
/* #root a[role="button"], */
button {
    color: black;
    max-width: 20rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--btn-bg);
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    place-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform ease-out 0.2s;
    box-shadow:0px 2px 5px  1px gray;
    &:hover {
        transform: scale(0.97);
        transition: transform box-shadow ease-in 1s;
        background-color: var(--btn-hover-bg);
        color: var(--btn-hover-color);
        box-shadow:0px 3px 8px  2px var(--btn-hover-shadow);
    }
    &:disabled,
    &.mybtn:disabled {
        transition: all ease-in 0.1s 0.3;
        background-color: gray;
        cursor: not-allowed;
        box-shadow: none;
    }
}
.btn-cyn {
    background-color: rgb(6, 223, 223);
}
.btn-blue {
    background-color: rgb(88, 88, 227);
    color:white;
}
.btn-red {
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0.3rem 1rem; */
    background-color: rgb(246, 95, 95);
}

.mybtn.red {
    background-color: rgb(246, 95, 95);
}
.mybtn.green {
    background-color: rgb(2, 193, 2);
}
.mybtn.red {
    background-color: rgb(246, 95, 95);
}
.mybtn.btn-blue {
    background-color: rgb(88, 88, 227);
}

.btn-basic {
    background-color: rgb(73, 73, 238);
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
}
@media print {
    #root button,
    #root a,
    #root button.mybtn,
    #root button.btn-blue,
    #root button.btn-red {
        display: none;
    }
}























