.login1 {
    /* position:absolute;
    inset:0; */
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url("/public/images/car6.jpg");
    background-position: center;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
    height: 100dvh;
    background-color: #000;
}
.login1 .supabase-auth-ui_ui-button {
    border: none;
    background-color: white;
    color: #152b5e;
    padding: 5px 0px;
}
#login1con {
    position: relative;
    border-radius: 0.5em;
    align-items: center;
    box-shadow: 0px 0px 20px #000;
    padding-bottom: 0px;
    padding: 0px;
    outline: black 2px solid;
    width: 90vw;
    max-width: 25em;
    min-width: 15em;
}
/* */
/* .login1 div:first-child {
    width: 500px;
    position: relative;
    border-radius: 10px;
    padding: 55px 55px 37px 55px;
    align-items: center;
} */
.headerpic {
    background-color: var(--mycolor);
    background-image: url("/public/images/carin1.jpg");
    background-position: center;
    background-size: cover;
    max-height: 6em;
    height: 20vh;
    /* width: 50vw; */

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 2px;
    text-shadow: 0px 0px 20px black;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-items: center;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.headerpic p {
    padding: 3px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.4);
}
.login1 form {
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    margin: 2rem auto;
    padding: 0.5em 1em;
    padding-top: 0.5em;
    width: fit-content;
    box-shadow: 0px 0px 5px white;
    border-radius: 10px;
    min-width: max-content;

    /* max-width: 10em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* font-size: 1.5em; */
}
.login1 input,
.login1 input:focus,
.login1 input:active {
    font-size: 1rem;
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    border: white 1px solid;
    border-radius: 8px;
    padding: 3px;
    vertical-align: middle;
    padding-left: 1rem;
    /* padding-left: 0.5em; */
    /*width: 10rem;
    max-width: 8em;*/
    width: 10rem;
    word-break: break-all;
    outline: none;
    z-index: 2;
    padding-bottom: 5px;
}
.login1 input::placeholder {
    /* display: none; */
    color: transparent;
}
.login1 form img {
    height: 1em;
    vertical-align: middle;
    /* margin-right: -1em; */
    transition: all ease-out 0.2s;
    display: inline;
}
.login1 .input {
    display: block;
    width: max-content;
    position: relative;
    padding: 0.5em 0em;
}
label.placeholder,
label.placeholderup {
    color: rgb(217, 217, 217);
    /* background-color: red; */
    padding: 3px;
    padding-left: 0.3em;
    margin-left: 2.3em;
    z-index: 0;
    /* font-size: 90%; */
    position: absolute;
    /* right: 100%; */
    bottom: 0.9em;
    font-size: 1rem;

    pointer-events: none;
    transition: all ease-out 0.2s;
}
.login1 input:focus {
    border-color: green;
}
.login1 .placeholderup,
.login1 input:focus + * + label.placeholder,
.login1 input:focus + * + label.placeholderup {
    /* margin-right: -1em;
    margin-top: -2em; */
    /* height: 0.8em;
    vertical-align: middle;
    scale: 0.8; */
    opacity: 1;
    font-size: 70%;
    /* transform: translateY (-150%); */
    transform: translate(5%, -85%);
    color: white;
    transition: all ease-out 0.2s;
    /* border-bottom: white 2px solid; */
}
/* .login1 input:focus + img {
    top: -1.5em;
} */
.homebtn {
    width: max-content;
    padding: 5px 20px;
    background-color: rgb(255 206 193);
    cursor: pointer;
    border-radius: 0.2em;
    /*border-width: 2px;
    border-color: rgb(141, 57, 26);*/
}
.login1 input[type="submit"] {
    width: min-content;
    padding: 5px 20px;
    background-color: rgb(248, 93, 36);
    color: white;
    cursor: pointer;
    border-radius: 0.2em;
    border-width: 2px;
    border-color: rgb(141, 57, 26);
}
.loginbtn {
    background-color: rgb(31 151 23);
}
.login1 input[type="submit"]:hover {
    background-color: rgb(164, 47, 5);
    /* font-weight: bold; */
}
.contactme {
    display: grid;
    height: 6rem;
    max-height: 8rem;
    text-align: center;
    background-color: #152b5ecb;
    padding: 5px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: wheat;
    a {
        display: flex;
        place-items: center;
        text-decoration: none;
        color: white;
        background-color: unset;
        padding: 0px 5px;
        transition: all ease-in 0.3s;
    }
    a:hover,
    a:active {
        text-decoration: none;
        color: black;
        background-color: aliceblue;
        transition: all ease-out 0.3s;
    }
    img {
        vertical-align: middle;
        padding: 0px;
    }
}
