/* @tailwind base; */
/* @tailwind components; */
button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    /* height: fit-content; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input:invalid,
select:invalid {
    background-color: rgba(255, 0, 0, 0.207);
    border: 2px solid red;
    border-radius: 3px;
}
a {
    text-decoration: none;
    background-color: rgba(121, 121, 255, 0.57);
    &:hover {
        /* filter: hue-rotate(20deg); */
        box-shadow: 0px 0px 10px var(--accent-color1);
        /* color: white; */
    }
}
input {
    padding: 6px;
}
.place-y-center {
    top: 50%;
    transform: translateY(-50%);
}
table {
    border-collapse: collapse;
}

.separatebycoma > span {
    flex-shrink: 0;
    &::after {
        content: ", ";
    }
    &:last-child::after {
        content: none;
    }
}
legend,
legend * {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;
}
.animate-ping-1 {
    animation: myping-1 1s ease infinite;
}
.warnning,
.warning {
    padding: 2px 15px;
    border-radius: 100px;
    vertical-align: middle;
    text-align: center;
    &.red {
        background-color: rgb(255, 213, 213);
        color: rgb(120, 0, 0);
        border: solid 2px rgb(120, 0, 0);
    }
    &.green {
        background-color: rgb(213, 255, 213);
        color: rgb(0, 120, 0);
        border: solid 2px rgb(0, 120, 0);
    }
}
@keyframes myping-1 {
    20%,
    80% {
        /* scale: 1; */
        box-shadow: 0px 0px 0px black;
        /* filter: brightness(1); */
    }
    50% {
        box-shadow: 0px 0px 0px 5px rgb(165, 165, 165);
        /* filter: brightness(0.8); */
        /* scale: 0.8; */
    }
}
@media print {
    
    #root .printgrid {
        display: grid;
    }
    #root .printgrid.colsminauto {
        grid-template-columns: min-content auto;
    }
    #root a,
    #root button {
        display: none !important;
    }
}
.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg-black-100,
.bg-black-200,
.bg-black-300,
.bg-black-400,
.bg-black-500,
.bg-black-600,
.bg-black-700,
.bg-black-800,
.bg-black-900 {
    background-color: black;
}
.bg-white-100,
.bg-white-200,
.bg-white-300,
.bg-white-400,
.bg-white-500,
.bg-white-600,
.bg-white-700,
.bg-white-800,
.bg-white-900 {
    background-color: white;
}