.myleft_0 {
    left: 0%;
}
.myleft_1 {
    left: 1%;
}
.myleft_2 {
    left: 2%;
}
.myleft_3 {
    left: 3%;
}
.myleft_4 {
    left: 4%;
}
.myleft_5 {
    left: 5%;
}
.myleft_6 {
    left: 6%;
}
.myleft_7 {
    left: 7%;
}
.myleft_8 {
    left: 8%;
}
.myleft_9 {
    left: 9%;
}
.myleft_10 {
    left: 10%;
}
.myleft_11 {
    left: 11%;
}
.myleft_12 {
    left: 12%;
}
.myleft_13 {
    left: 13%;
}
.myleft_14 {
    left: 14%;
}
.myleft_15 {
    left: 15%;
}
.myleft_16 {
    left: 16%;
}
.myleft_17 {
    left: 17%;
}
.myleft_18 {
    left: 18%;
}
.myleft_19 {
    left: 19%;
}
.myleft_20 {
    left: 20%;
}
.myleft_21 {
    left: 21%;
}
.myleft_22 {
    left: 22%;
}
.myleft_23 {
    left: 23%;
}
.myleft_24 {
    left: 24%;
}
.myleft_25 {
    left: 25%;
}
.myleft_26 {
    left: 26%;
}
.myleft_27 {
    left: 27%;
}
.myleft_28 {
    left: 28%;
}
.myleft_29 {
    left: 29%;
}
.myleft_30 {
    left: 30%;
}
.myleft_31 {
    left: 31%;
}
.myleft_32 {
    left: 32%;
}
.myleft_33 {
    left: 33%;
}
.myleft_34 {
    left: 34%;
}
.myleft_35 {
    left: 35%;
}
.myleft_36 {
    left: 36%;
}
.myleft_37 {
    left: 37%;
}
.myleft_38 {
    left: 38%;
}
.myleft_39 {
    left: 39%;
}
.myleft_40 {
    left: 40%;
}
.myleft_41 {
    left: 41%;
}
.myleft_42 {
    left: 42%;
}
.myleft_43 {
    left: 43%;
}
.myleft_44 {
    left: 44%;
}
.myleft_45 {
    left: 45%;
}
.myleft_46 {
    left: 46%;
}
.myleft_47 {
    left: 47%;
}
.myleft_48 {
    left: 48%;
}
.myleft_49 {
    left: 49%;
}
.myleft_50 {
    left: 50%;
}
.myleft_51 {
    left: 51%;
}
.myleft_52 {
    left: 52%;
}
.myleft_53 {
    left: 53%;
}
.myleft_54 {
    left: 54%;
}
.myleft_55 {
    left: 55%;
}
.myleft_56 {
    left: 56%;
}
.myleft_57 {
    left: 57%;
}
.myleft_58 {
    left: 58%;
}
.myleft_59 {
    left: 59%;
}
.myleft_60 {
    left: 60%;
}
.myleft_61 {
    left: 61%;
}
.myleft_62 {
    left: 62%;
}
.myleft_63 {
    left: 63%;
}
.myleft_64 {
    left: 64%;
}
.myleft_65 {
    left: 65%;
}
.myleft_66 {
    left: 66%;
}
.myleft_67 {
    left: 67%;
}
.myleft_68 {
    left: 68%;
}
.myleft_69 {
    left: 69%;
}
.myleft_70 {
    left: 70%;
}
.myleft_71 {
    left: 71%;
}
.myleft_72 {
    left: 72%;
}
.myleft_73 {
    left: 73%;
}
.myleft_74 {
    left: 74%;
}
.myleft_75 {
    left: 75%;
}
.myleft_76 {
    left: 76%;
}
.myleft_77 {
    left: 77%;
}
.myleft_78 {
    left: 78%;
}
.myleft_79 {
    left: 79%;
}
.myleft_80 {
    left: 80%;
}
.myleft_81 {
    left: 81%;
}
.myleft_82 {
    left: 82%;
}
.myleft_83 {
    left: 83%;
}
.myleft_84 {
    left: 84%;
}
.myleft_85 {
    left: 85%;
}
.myleft_86 {
    left: 86%;
}
.myleft_87 {
    left: 87%;
}
.myleft_88 {
    left: 88%;
}
.myleft_89 {
    left: 89%;
}
.myleft_90 {
    left: 90%;
}
.myleft_91 {
    left: 91%;
}
.myleft_92 {
    left: 92%;
}
.myleft_93 {
    left: 93%;
}
.myleft_94 {
    left: 94%;
}
.myleft_95 {
    left: 95%;
}
.myleft_96 {
    left: 96%;
}
.myleft_97 {
    left: 97%;
}
.myleft_98 {
    left: 98%;
}
.myleft_99 {
    left: 99%;
}
.myleft_100 {
    left: 100%;
}
